body{
  font-family: Verdana ;
}

/* slider color formatting */
.rc-slider-track {
  background-color: #256ae5;
}
.rc-slider-handle {
  border: solid 2px #256ae5;
  background-color: #fff;
}
.rc-slider-handle:focus {
  border-color: #256ae5;
  box-shadow: 0 0 0 5px #256ae5;
  outline: none;
}
.rc-slider-handle:hover {
  border-color: #256ae5;
}
.rc-slider-handle:active {
  border-color: #256ae5;
  box-shadow: 0 0 5px #256ae5;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.rc-slider-handle-click-focused:focus {
  border-color: #256ae5;
  box-shadow: unset;
}

.rc-slider-dot-active {
  border-color: #256ae5;
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columns */
    grid-template-rows: auto auto;
    grid-auto-flow: row; /* fill in by row */
    height: 20%;
}

.sum_stat {
  border-radius: 5px;
  background-color: #f9f9f9;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
  text-align: center;
  font-size: 30px;
}

.pane{
  padding: 10px;
  justify-content: center;
}

p {
  font-size: 20px;
}
